*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.run.xml
*.bbl
*.blg
*blx.bib
*.bcf
*.dvi
**/_minted*

*.nav
*.snm

**/data/*
**/__pycache__
**/*.pth
**/nohup.out

# project-work-presentation.pdf
# practical-training-report-jonas-kell.pdf
master-thesis-jonas-kell.pdf